---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import About from "../components/About";
import FeaturedProjects from "../components/FeaturedProjects";
import OtherProjects from "../components/OtherProjects";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
---

<Layout title="Rob Nastoff">
  <main class="max-w-2xl w-full p-4">
    <Header />
    <About />
    <FeaturedProjects />
    <OtherProjects />
    <Contact />
    <Footer />
  </main>
</Layout>
